button {
    color: white;
    background-color: Orange;
  }
  
  animation: change-bg 10s step-end infinite; 
  
  button:active::after {
  animation: change-bg 10s step-end infinite;   /* Ниже вставьте скопированный код */
  
  
  }
  